<div class="score">
  {{quiz.current}}/{{quiz.questions.length}}
  <uib-progress class="progress" max="quiz.questions.length">
    <uib-bar ng-repeat="bar in quiz.scores track by $index" value="bar.value" type="{{bar.type}}">
    </uib-bar>
  </uib-progress>
  <timer state="quiz.timerstate"></timer>
</div>
<div class="content">
  <div class="problem-outer">
    <div class="problem">
      <div class="number1">
        {{quiz.questions[quiz.current].number1}}
      </div>
      <div class="secondrow">
        <span class="operator">
            {{quiz.questions[quiz.current].operator}}
        </span>
        <span class="number2">
            {{quiz.questions[quiz.current].number2}}
        </span>
      </div>
    </div>
    <div class="checkmark" ng-show="quiz.showcheck">
      ✓
    </div>
    <div class="cross" ng-show="quiz.showcross">
      ✗
    </div>
  </div>

  <hr>
  <div class="options">
    <button class="option" ng-class="{'flash-answer': quiz.flashAnswer && option == quiz.questions[quiz.current].answer}" ng-repeat="option in quiz.questions[quiz.current].options"
    ng-click="quiz.optionClicked(option)" ng-disabled="quiz.disableOptions">
      {{option}}
    </button>
  </div>
</div>
